# Dependencies
node_modules/

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local


# IDEs y code editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json